.footer {
	// min-height: 70vh;
	width: 100vw;
	display: none;
	background-color: black;
	padding-top: 1rem;
	padding: 2rem 1rem;
	align-items: center;
	justify-content: space-between;
	@include respond(phone) {
		flex-direction: column;
		// min-height: 45vh;
		padding: 5rem 3rem;
	}

	& .topfoot {
		width: 50%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		// background-color: red;
		@include respond(phone) {
			width: 100%;
			margin-bottom: 9rem;
		}
		@include respond(small-phone) {
			width: 100%;
			margin-bottom: 10rem;
		}
		h2 {
			font-size: 4.6rem;
			text-align: center;
			color: #fff;
			margin-top: 5rem;
			// display: none;
			font-weight: 600;
		}
		& > p {
			margin-top: 2rem;
			text-align: center;
			font-size: 2rem;
			font-weight: 600;
			color: #fff;
		}
		.socials {
			margin-top: 3rem;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 3rem;
			padding: 2rem 0;
			i {
				padding: 1rem;
				font-size: 3rem;
				cursor: pointer;
				color: #fff;
				transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
				border-radius: 50%;
				border: 0.3rem solid #c8e8fc;
				&:hover {
					background-color: #c8e8fc;
					color: #ff1c24;
				}
			}
		}
	}
	.bottom {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		@include respond(phone) {
			width: 70%;
		}
		@include respond(small-phone) {
			width: 70%;
		}
		// background-color: red;
		.subscribe {
			// margin-top: 8rem;
			display: flex;
			flex-direction: column;
			background: #606c88;
			background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
			background: linear-gradient(to right, #3f4c6b, #606c88);
			padding: 2.3rem;
			border-radius: 1.2rem;
			max-width: 50%;
			@include respond(tab-land) {
			}
			@include respond(tab-port) {
			}
			@include respond(phone) {
				max-width: 100%;
			}
			@include respond(small-phone) {
			}
		}

		.title {
			font-size: 3rem;
			line-height: 1;
			font-weight: 700;
			letter-spacing: 0.1rem;
			color: #fff;
			margin-bottom: 1rem;
		}

		.description {
			line-height: 1.5;
			font-size: 1.9rem;
			margin-top: 1rem;
			margin-bottom: 1rem;
			color: #fcfcfe;
		}

		.subscribe div {
			display: flex;
			width: 100%;
			margin-top: 1.5rem;
			column-gap: 0.6rem;
		}

		.subscribe div input {
			outline: none;
			line-height: 1.5;
			font-size: 1.5rem;
			color: #fcfcfe;
			padding: 1rem 1.5rem;
			background-color: #606c88;
			border: 1px solid rgba(253, 253, 253, 0.363);
			border-radius: 0.8rem;
			flex: 1 1 auto;
			caret-color: #8ed1fc;
		}

		.subscribe div input::placeholder {
			color: rgb(216, 212, 212);
		}

		.subscribe div input:focus {
			border: 1px solid rgb(144, 121, 236);
			opacity: 1;
		}

		.subscribe div button {
			color: #121;
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 1.25;
			padding: 1rem 1.5rem;
			background-color: #8ed1fc;
			border-radius: 0.8rem;
			border: none;
			outline: none;
		}
	}
}
