.menu {
	user-select: none;
	z-index: 9999999999999;
	position: fixed;
	bottom: 8%;
	left: 50%;
	translate: -50% 0%;
	height: 14vh;
	max-width: 77%;
	background-color: #222222d7;
	padding: 0.6rem 1rem;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	@include respond(tab-port) {
		height: fit-content;
		padding: 1rem 2rem;
	}
	.section1 {
		background-color: #000;
		padding: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		border-radius: 2rem;
		color: #fff;
		@include respond(tab-port) {
			gap: 1.7rem;
			padding: 1rem 2rem;
		}
		p {
			font-size: 2rem;
			@include respond(tab-port) {
				white-space: nowrap;
				font-size: 2.1rem;
			}
			@include respond(phone) {
			}
			@include respond(small-phone) {
			}
			span {
				color: #aaeec4;
				font-weight: 500;
			}
		}
		i {
			font-size: 2rem;
			cursor: s;
		}
	}
	.categories {
		font-size: 2.3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fcfcfe;
		margin-left: 1rem;
		user-select: none;
		i {
			font-size: 3rem;
			margin-left: 0.6rem;
			cursor: pointer;
		}
	}
	.forums {
		font-size: 2.3rem;
		color: #fcfcfe;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.6rem;
		i {
			color: #cceafd;
			font-size: 3rem;
			cursor: pointer;
		}
	}
	#chatbot {
		font-size: 4rem;
		color: #ff3847;
		margin: 0 1rem;
		margin-right: 0;
		cursor: pointer;
	}
}
