.nav {
	@include flex(center, space-between, row, 4rem);
	display: none;
	padding: 1rem 3rem;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100%;
	&__img {
		width: 7rem;
	}
	&__search {
		position: relative;
		margin-left: -30rem;
		width: 79rem;
		background-color: $color_primary_gray;
		padding: 1.5rem;
		border-radius: 1rem;
		@include flex(center, space-between, row, 3rem);
		outline: none;
		border: none;
		cursor: text;
		& p:nth-child(1) {
			font-size: 2rem;
			color: $color_primary_gray_dark;
			font-weight: 500;
		}
		& p:nth-child(3) {
			font-size: 2rem;
			font-weight: 500;
			text-align: center;
			display: flex;
			align-items: center;
			& i {
				font-size: 3rem;
			}
		}
		&__overlay {
			position: absolute;
			left: 0;
			top: 91%;
			height: 0;
			transition: all linear 0.3s;
			width: 100%;
			// padding: 2rem 4rem;
			background-color: #222222;
			@include flex(flex-start, flex-start, column, 2rem);
			row-gap: 2rem;
			color: #fff;
			& h2 {
				font-size: 2rem;
				font-weight: 500;
				display: none;
			}
			& .course__prev {
				@include flex(center, space-between, row, 2rem);
				width: 100%;
				display: none;
				& img {
					width: 30%;
				}
			}
			& p {
				display: none;
				font-size: 2rem;
				font-weight: 500;
			}
			& .tags {
				display: none;
				@include flex(center, flex-start, row, 1.5rem);
				// background-color: red;
				padding: 1rem 0;
				& .tag {
					font-weight: 400;
					font-size: 1.8rem;
					opacity: 0.8;
					padding: 1rem 2rem;
					border: 0.2rem solid#fff;
					border-radius: 2.5rem;
				}
			}
		}
	}
	&__txt1 {
		color: $color_primary_gray_dark;
		font-size: 1.9rem;
		font-weight: 500;
		opacity: 1;
	}
	&__btn__container {
		padding: 0 1rem;
		@include flex(center, space-evenly, row, 2rem);
	}
}
