.col-1 {
	background-color: #e6f0f9;
}
.col-2 {
	background-color: #dedefa;
}
.col-3 {
	background-color: #f6ba52;
}
.col-4 {
	background-color: #fffffe;
}
.col-5 {
	background-color: #ff1c24;
}
.col-6 {
	background-color: #ffdcd6;
}
.cimg1 {
	background-image: url(../assets/webdev.avif);
}
.cimg2 {
	background-image: url(../assets/backend.jpg);
}
.cimg3 {
	background-image: url(../assets/devops.avif);
}
.cimg4 {
	background-image: url(../assets/dbms.avif);
}
.cimg5 {
	background-image: url(../../assets/responsive.jpg);
}
.cimg6 {
	background-image: url(../assets/resume.avif);
}
// dps
.dp1 {
	background-image: url(../assets/dp1.avif);
}
.dp2 {
	background-image: url(../../assets/dp2.avif);
}
.dp3 {
	background-image: url(../assets/dp3.avif);
}
.dp5 {
	background-image: url(../assets/dp5.jpg);
}
